@mixin border-radius($r) {
	-webkit-border-radius:$r;
	-moz-border-radius:$r;
	border-radius:$r;
}

body {
	background:#EEE;
}

.wrapper {
	height:100%;
	width:100%;
}

.sector {
	height:100%;
	width:50%;
	float:left;
}



