@mixin border-radius($r) {
	-webkit-border-radius:$r;
	-moz-border-radius:$r;
	border-radius:$r;
}

.split-screen-note {
	position: fixed;
	height: 80%;
	width: 80%;
	top: 5%;
	background: #FAF764;
	padding: 20px !important;
	padding-left:35px !important;
	left: 10%;
	font-size: 2.5em !important;
	@include border-radius(20px);
}

.hidden {
	visibility: hidden;
}

