@mixin border-radius($r) {
	-webkit-border-radius:$r;
	-moz-border-radius:$r;
	border-radius:$r;
}

.wrapper {
	height:100%;
	width:100%;
}

#note {
	height:100%;
	width:50%;
}

#next-slide {
	height:100%;
	width:50%;
}

